html
    head
        style
            include ../styles/main.css
        
        title Search
    body
        script
            include ../scripts/search.js
        <gcse:search> </gcse:search>
        