doctype html
html
   head
      style
         include ../styles/main.css
      title "Sign up"
   body
      include ./toolbar.pug
      p You just created your account. Please check your email to verify.