doctype html
html
   style
      include ../styles/main.css
   head
      title = "Subscription Confirmation"
   body
      include ./toolbar.pug
      p You just subscribed.
      a(href="/users/account") Back to your account