doctype html
html
   style
      include ../styles/main.css
   head
      title = "Subscription Ended"
   body
      include ./toolbar.pug
      p Your subscription has ended.
      a(href="/users/account") Back to your account